.ff-message {
    display: none !important;
}

.ff-form {
    padding-bottom: unset !important;
    position: relative !important;
}

.ff-secfields {
    padding: 0 !important;
}

.ff-button-bar {
    display: flex !important;
}

.ff-button-bar button {
    display: flex !important;
}

.ff-section {
    padding: 0 !important;
}

.ff-section h3 {
    display: none;
}

.ff-item input,
select {
    background-color: #faf8fd !important;
    border: solid 1px black !important;
}

.ff-item input:focus,
select:focus {
    background-color: white !important;
    outline: none !important;
    border: solid 1px black !important;
}

a.ff-powered-img {
    height: 0px !important;
    width: 0px !important;
    overflow: hidden !important;

}

.ff-form p {
    color: var(--primary) !important;
    font-size: 1.2rem !important;
    font-weight: normal !important;
}

.ff-watermark {
    position: relative !important;
    border: none !important;
}

.ff-watermark::before {
    content: "Now you may leave this page by clicking 'Home' option given in 'Menubar'.";
    background-color: var(--darkwhite);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 900;
    position: absolute !important;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--textblack);
    font-weight: 500;
}

/* ------------ After form content------------ */
.page-headingxyz    {
    width: fit-content;
    margin: 1.5rem;
    font-size: 1.75rem;
    color: var(--primary);
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
margin-bottom: 5px;
position: relative;
}

main p::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--secondary);
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left: 10px;
}
.container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

#order-details {
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.437);
    background-color: white;
    text-align: center;
    margin: 1rem;
    border: solid;
}

#order-details img {
    width: 250px;
    border-radius: 10px;
}

.book-details {
    margin-top: 1.5rem;
    text-align: left;
}

.formbox {
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.437);
    background-color: white;
    margin: 1rem;
    border: solid;
}

.contentbox-after-submit {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.437);
    padding: 2.5rem;
    border: solid;
    width: fit-content;
    background-color: white;
}

.contentbox-after-submit h2,
p {
    width: 100%;
    text-wrap: wrap;
    font-size: 1rem;
}

.contentbox-after-submit img {
    height: 200px;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px black;
}

.contentbox-after-submit button {
    border: none;
    padding: 1rem;
    background-color: var(--primary);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0px 0px 15px -5px black;
}