* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bgblack);
}


:root {
    --primary: #051961;
    --secondary: #004fad;
    --yellow: #ead409;
    --textblack: #000c49;
    --bgblack: #000622;
    --darkwhite: #f8f8fc;
    --white: #ffffff;
    --lightshadow: rggba(0, 0, 0, 0.09);
    --gray: #e7eaf0;
    --darkgray: #a4a4a4;

    /* Useless but may be used */
    --black: rgb(22, 25, 44);
    --whitesmoke: #f5f5f5;
    --green: #04aa6d;
    --skyblue: #00b0f0;
    --cyan: #124760;
    --blue: #303d6c;
    --lightcyan: #2caee6;
    --red: #e65593;
    --lightheadbg: rgba(240, 248, 255, 0.85);
    --darkheadbg: rgba(181, 218, 250, 0.947);
    --lightboxbg: #f0f8ffa6;
}

.akaya-telivigala-regular {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 400;
    font-style: normal;
}

.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.yatra-one-regular {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Parkinsans", sans-serif;
    color: var(--textblack);
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}


/* ---------- Top Header CSS Here Starts----------- */
.topheader {
    width: 100vw;
    height: fit-content;
    /* padding: 0.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgblack);
}

.leftside,
.rightside {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftside {
    padding-left: 1.5rem;
    justify-content: flex-start;
}

.rightside {
    padding-right: 1.5rem;
    justify-content: flex-end;
}

.rightside a>span {
    color: var(--white);
    font-size: 0.9rem;
    padding: 0 1rem;
}

.topheader a {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.35rem;
    margin-left: 1rem;
    color: var(--white);
}

.topheader a svg {
    width: 1.20rem;
    fill: var(--white);
}

.topheader a svg.yt:hover {
    fill: red;
}

.topheader a svg.ldn:hover,
.topheader a svg.tele:hover {
    fill: var(--lightcyan);
}

.topheader a svg.wtsp:hover {
    fill: var(--green);
}

/* ---------- Top Header CSS Here Ends----------- */



/* ---------- NAV Header CSS Here Starts----------- */
.navbox {
    /* border: solid red; */
    width: 100vw;
    /* overflow: hidden; */
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.279);
}

.logo_section {
    /* border: solid red; */
    width: 12vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_section .logobox img {
    width: 5.5em;
    border-radius: 20%;
    user-select: none;
}

.ham_section {
    display: none;
    width: 0;
}

.menu_section {
    /* border: solid red; */
    width: 61vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubox {
    width: 61vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubox a {
    border: solid 3px var(--white);
    text-decoration: none;
    color: var(--textblack);
    padding: 0.35rem;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    /* border: solid red !important; */
}

.menubox a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-bottom: 3px solid var(--bgblack);
    border-radius: 8px;
    transition: width 0.5s ease;
    /* Control transition time and style */
}

.menubox a:hover::after {
    width: 100%;
    /* Expand border from left to right */
}

.loginbox {
    /* border: solid red; */
    padding-left: 2rem;
    width: 27vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.loginbox a {
    margin: 0.5rem;
    text-decoration: none;
    color: var(--white);
    padding: 0.45rem 1rem;
    border-radius: 10px;
    background-color: var(--primary);
    /* box-shadow: rgba(0, 0, 0, 0.11) 0px 3px 5px; */
}

.loginbox .login {
    background-color: var(--white);
    color: var(--primary);
    font-weight: 600;
    position: relative;
}

.loginbox .login::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-bottom: 3px solid var(--bgblack);
    border-radius: 8px;
    transition: width 0.5s ease;
    /* Control transition time and style */
}

.loginbox .login:hover::after {
    width: 100%;
    /* Expand border from left to right */
}

.loginbox .signup {
    border: solid 2px var(--textblack);
    font-weight: 500;
    transition: background 0.3s ease;
}

.loginbox .signup:hover {
    background-color: var(--secondary);
}

/* ---------- NAV Header CSS Here Ends----------- */

/* ---------- Footer related CSS Here Starts----------- */
.footer_box {
    list-style-type: none;
    width: 100vw;
    background-color: var(--bgblack);
    color: var(--darkwhite);
    margin-top: 2rem;
    padding: 2rem 0.5rem;
    text-align: center;
    line-height: 35px;
}

.footer_box li {
    font-size: 0.9rem;
}

.footer_links ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footerbtn {
    font-family: "Parkinsans", sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: var(--darkwhite);
    padding: 0.25rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    position: relative;
}

.footerbtn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-bottom: 2px solid var(--white);
    border-radius: 5px;
    transition: width 0.5s ease;
    /* Control transition time and style */
}

.footerbtn:hover::after {
    width: 100%;
    /* Expand border from left to right */
}

/* ---------- Footer related CSS Here Ends----------- */
/* ---------- Footer Popup related CSS starts Ends----------- */

/* ================ Privacy=============== */

/* Popup background (hidden by default) */
.popupbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

/* Popup content box */
.popup {
    color: var(--textblack);
    background-color: var(--darkwhite);
    padding: 1.5rem;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.popup h4 {
    font-size: 1.4rem;
}

.popup p {
    font-size: 1rem;
    text-shadow: none;
}

/* Close button style */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 0 0.5rem;
    border-radius: 15px;
    border: solid 1px black;
    cursor: pointer;
}

/* ---------- Footer Popup related CSS Here Ends----------- */