@media screen and (min-width: 768px) and (max-width: 920px) {
    html {
        font-size: 15px;
    }

    .tagline_wrapper p {
        font-size: 1.6rem;
    }
}





@media screen and (max-width: 769px) {
    html {
        font-size: 13px;
    }

    .menubox {
        flex-wrap: wrap;
    }

    .loginbox {
        justify-content: center;
    }

    .important_links {
        flex-wrap: wrap;
    }

    .photo_about_box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 556px) {
    html {
        font-size: 13px;
    }
    .leftside {
        padding-left: 0rem;
    }
    .rightside {
        padding-right: 0rem;
    }
    .ham_section {
        margin: 5px;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 50px;
        background-color: var(--darkwhite);
        border: solid var(--bgblack) 2px;
    }

    .ham_section svg {
        fill: var(--bgblack);
        width: 25px;
    }

    .logo_section {
        width: 25vw;
    }
    
   
    
    .navbox {
        position: relative;
    }
    
    .menu_section {
        position: fixed;
        top: 0;
        left: -105vw;
        z-index: 700;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        justify-content: center;
        border: solid 3px var(--bgblack);
        background-color: var(--darkwhite);
        align-items: flex-start;
        transition: left 0.5s ease;
        overflow-y: scroll;
    }

    .menu_section.menuon {
        left: 0;
    }
    .menu_section.menuoff {
        left: -105vw;
    }

    .menubox {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding: 1.5rem;
        margin-top: 2rem;
    }
    #crossbox{
        display: block !important;
        width: 100%;
        position: relative;
    }
    #crossbox div{
        position: absolute;
        top: -15px;
        right: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darkwhite);
        border: solid var(--bgblack) 2px;
        border-radius: 10px;
        font-size: 1.8rem;
        padding: 8px;
    }
    .menubox a {
        text-align: center;
        font-size: 2rem;
        border: none;
        margin: 0.5rem 0;
    }

    .loginbox {
        width: 60vw;
        padding-left: unset;
        padding-right: 0.5rem;
        justify-content: flex-end;
    }

    .topline {
        flex-direction: column;
    }

    .heading {
        margin-bottom: 1rem;
    }

    .name_tag_box {
        flex-direction: column;
    }

    .tag_box h3 {
        padding-top: 10px;
    }

    .imgholder .logopic {
        position: absolute;
        right: -20px;
        bottom: -20px;
        z-index: 400;
        width: 180px;
        background-color: #d5d6ff;
        border-radius: 15px;
        border: solid 8px white;
    }

    .photo_about_box {
        padding: 8px;
        font-size: 1.3rem;
    }

    .about_box ul {
        padding: 0 1rem;
    }
    .about_box li {
        font-size: 1.3rem;
    }
    
    .tagline_wrapper p {
        font-size: 1rem;
    }

    .tagline_wrapper p svg {
        width: 15px;
    }
.footer_links ul {
    display: flex;
flex-direction: column;
}

    .popup {
        width: 90vw;
       }
}