.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 0px 1rem;
  margin-bottom: 5rem;
  /* border: solid; */
}

i {
  position: relative;
  top: 2px;
  font-size: var(--text-lg);
}

.nav li a {
  padding: 4px 12px 6px 12px;
  text-decoration: none;
  font-size: var(--text-lg);
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  border-radius: var(--radius-lg);
  &:hover {
    background: var(--primary-100);
  }
}

.header-main-btn {
  font-size: var(--text-base) !important;
}

/* .hero-Image-Wrapper{
  position: relative;
  display: inline-block;
}
.hero-Image-Wrapper::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(5deg);
  background: linear-gradient(90deg, var(--primary-200), var(--primary-300));
  box-shadow: var(--shadow-lg);
}
.heroImage {
  position: relative;
  transform: rotate(355deg);
  z-index: 1;
} */

.hero-text-wrapper::before{
  content: "";
  position: absolute;
  bottom: -15%;
  right: -30%;
  z-index: -1;
  width: 15rem;
  height: 15rem;
  background-color: var(--neutral-400);
  opacity: 0.1;
  border-radius: 20rem;
}



@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  /* Responsive header */
  .menu-btn-box {
    display: unset !important;
  }

  nav {
    position: fixed;
    top: 0;
    right: -110vw;
    width: 100vw;
    height: 100vh;
    background-color: #0005;
    padding: 0 !important;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
  }

  nav.mobileMenu {
    right: 0;
    opacity: 1;
  }

  .nav-wrapper {
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-12) var(--space-6);
    overflow-y: scroll;
  }

  .nav-wrapper ul {
    flex-direction: column;
    gap: var(--space-4);
    position: relative;
    align-items: center;
  }
  .nav-wrapper ul li a {
    font-size: var(--text-lg);
    width: fit-content;
  }

  .nav-wrapper .btn-close {
    display: block !important;
    position: absolute;
    top: -30px;
    right: -5px;
  }

  .mobile-wrap{
    flex-wrap: wrap;
  }
}