.about-img{
    max-width: 400px;
}
.about-img img{
    width: 100%;
    max-width: 350px;
    border: solid 10px var(--white);
    background-color: var(--secondary-bg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-soft);
}
.about-text{
    max-width: 600px;
}
.about-text ul li{
    list-style-type: disc;
    font-size: var(--font-base);
    color: var(--ui-secondary);
}
.about-text ul li b, i{
    font-weight: 500;
}

blockquote{
    padding: 10px 20px;
    border-left: 4px solid var(--accent-red);
    margin: 10px 0;
    border-radius: 5px;
}