.contact-container{
    position: relative;
}
.contact-container .left-section{
    position: sticky;
    top: 100px;
    z-index: 1;
}
.social-card {
    width: 100%;
    max-width: 450px;
    height: fit-content;
    padding: 30px 20px;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    text-align: center;
    border: var(--border-thin);
    background-color: var(--white);
}

.profile-info .profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info h2 {
    margin: 0;
    font-size: var(--font-lg);
    font-weight: 500;
    color: var(--ui-primary);
}

.contact-links{
    margin: 20px auto;
}
.contactinfo{
    width: 100%;
    justify-content: flex-start;
    margin: 5px 0;
}

.contactinfo i{
    font-size: var(--font-md);
    color: var(--accent-red);
    margin-right: 20px;
    transition: color 0.3s;
}
.contactinfo:last-child i{
    color: var(--accent-green);
    font-size: var(--font-lg) !important;
}
.contactinfo:nth-child(2) i{
    color: var(--accent-blue);
}
.contactinfo a{
    color: var(--text-accent);
    font-size: var(--font-base);
    &:hover{
        color: var(--ui-primary);
        text-decoration: underline;
    }
}


.contact .ctalinks{
    width: 100%;
    justify-content: center;
}

#message{
    background-color: var(--white);
    z-index: 2;
    border: var(--border-thin);
    border-radius: var(--radius-lg);
    max-width: 450px !important;
}
.formheading {
    width: 100%;
    padding: 0px 20px;
}

.formheading h2 {
    font-size: var(--font-md);
    font-weight: 500;
    color: var(--text-muted);
    padding-top: 20px;
    position: relative;
    width: fit-content;
    white-space: nowrap;
}

.formheading h2::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 1px;
    width: 100%;
    background-color: var(--ui-primary);
    border-radius: 10px;
}
#contactForm {
    padding: 10px;
    flex-direction: column;
}

.inputbox {
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

input,
textarea,
button {
    width: 100%;
    box-shadow: none;
}

button {
    display: block;
    width: 100% !important;
}

button:hover {
    background-color: var(--color-accent-blue-dark);
}

button i {
    font-size: 1.1rem;
}

/*  */


#spinner-contact-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.spinner-contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow-lg);
}

.spinner-contact-form i {
    animation: spin 1s linear infinite;
    color: var(--color-accent-blue);
    font-size: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ----------------------Popup Style */
#popup-contact-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.popup-content-contact-form {
    width: 90%;
    max-width: 500px;
    height: fit-content;
    padding: 20px 30px;
    background-color: var(--color-white);
    border-radius: 10px;
    text-align: center;
    border: var(--border-thin);
    box-shadow: 0px 0px 10px -2px;
}

.popup-content-contact-form span i {
    font-size: 50px;
    font-weight: 900;
    border: var(--border-thin);
    padding: 10px 30px;
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-full);
    color: var(--color-accent-green);
    margin-bottom: 40px;
}

.popup-content-contact-form p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--color-bg-secondary) !important;
    font-weight: 500 !important;
}

#ok-button-contact-form {
    background-color: var(--color-accent-green);
    color: var(--color-white);
    border: none;
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

#ok-button-contact-form:hover {
    background-color: var(--color-accent-green-dark);
    box-shadow: var(--shadow-lg);
}