footer{
    background-color: var(--ui-secondary);
    padding: 50px 20px;
    padding-bottom: 10px;
    color: var(--secondary-bg);
    font-size: var(--font-sm);
}
.footer-container{
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    gap: 20px;
}
.footer-logo, .footer-links{
    max-width: 300px;
}
.footer-logo img{
    width: 60px;
    padding: 5px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow-lg);
}
.footer-text{
    font-weight: 300;
}
.footer-links h4{
    margin-bottom: 10px;
}
.footer-links li{
    margin-bottom: 10px;
}
.footer-links li a{
    color: var(--text-muted);
    font-weight: 500;
    &:hover{
        color: var(--white);
    }
    &:active{
        color: var(--white);
    }
}

.footer-bottom{
    border-top: var(--border-thin);
    border-color: var(--divider);
    flex-direction: column;
}
.footer-bottom p{
    padding: 30px 0;
    padding-bottom: 20px;
    color: var(--secondary-bg);
    font-weight: 300;
}

.footer-bottom .ctalinks{
    margin-top: 0;
    padding: 10px 0;
    gap: 20px 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-bottom .ctalinks a i{
    background-color: var(--secondary-bg);
    color: var(--text-muted);
}