.projects-container{
    gap: 50px 40px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.project-wrapper{
    position: relative;
    width: 100%;
    max-width: 350px;
    border: var(--border-thin);
    border-radius: 15px;
    padding: 25px 20px;
    background-color: var(--white);
    box-shadow: 0px 5px 25px -5px #0004;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        scale: 1.04;
    }
}

.proj-name{
    color: var(--border-muted);
    font-size: var(--font-lg);
    font-weight: 500;
}
.proj-desc{
    color: var(--border-muted);
    font-size: var(--font-sm);
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
}

#closeproj{
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: var(--font-md);
    font-weight: 600;
    color: var(--text-muted);
    cursor: pointer;
    rotate: 90deg;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: var(--primary-text);
    }
}