/* About section */
.about-section{
    background-color: var(--lightbg);
    align-items: flex-start;
}

.about-img img{
    width: 320px;
    border-radius: 20px;
}

.about-text{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    padding: 0.5rem;
    border-radius: 10px;
}

.about-text p, .about-text li, .about-text b{
    color: var(--black);
    line-height: 1.4;
    font-size: 1.1rem;
}

.about-text li{
    list-style: inside disc;
}

