/* Contact CSS */
.contact-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 40px;
    position: relative;
}

.social-card {
    position: sticky;
    top: 100px;
    z-index: 1;
    width: 100%;
    max-width: 450px;
    height: fit-content;
    padding: 30px 20px;
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-lg);
    text-align: center;
    border: var(--border-thin);
    border-color: var(--color-border);
    background-color: var(--color-surface-light);
}

.profile-info .profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-info h2 {
    margin: 0;
    font-size: var(--font-lg);
    font-weight: 600;
    color: var(--color-accent-red);
}

.profile-info p {
    font-size: var(--font-sm);
    color: var(--color-text-muted);
    margin: 6px 0 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-links a {
    color: var(--color-accent-blue);
    transition: color 0.3s;
    background-color: var(--color-white);
}


/*  */
.contact-form {
    width: 100%;
    max-width: 450px;
    background-color: var(--color-surface-light);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-soft);
    border: var(--border-thin);
    z-index: 2;
}

.formheading {
    width: 100%;
    padding: 0px 20px;
}

.formheading h2 {
    font-size: var(--font-md);
    font-weight: 600;
    color: var(--color-text-muted);
    padding-top: 20px;
    position: relative;
    width: fit-content;
    white-space: nowrap;
    margin-bottom: 10px;
}

.formheading h2::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 2px;
    width: 100%;
    background-color: var(--color-text-secondary);
    border-radius: 10px;
}

.formheading p {
    font-size: var(--font-sm);
    color: var(--color-text-muted);
}

#contactForm {
    padding: 10px;
}

.inputbox {
    width: 100%;
    padding: 10px;
}

input,
textarea,
button {
    display: block;
    width: 100%;
    font-size: var(--font-base);
    padding: 13px 15px;
    border: none;
    outline: none;
    color: var(--color-bg-primary);
    background-color: var(--color-white);
    border: var(--border-thin);
    border-radius: var(--radius-sm);
}

input::placeholder,
textarea::placeholder {
    color: var(--color-text-secondary);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input:focus,
textarea:focus {
    border-color: var(--color-bg-primary);
    box-shadow: 0px 3px 5px rgba(0, 36, 196, 0.3);
}

button {
    display: block;
    width: 100%;
    padding: 10px 25px;
    font-size: var(--font-md);
    border-radius: var(--radius-md);
    background-color: var(--color-accent-blue);
    color: var(--color-white);
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: var(--shadow-lg);
}

button:hover {
    background-color: var(--color-accent-blue-dark);
}

button i {
    font-size: 1.1rem;
}

/*  */


#spinner-contact-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.spinner-contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow-lg);
}

.spinner-contact-form i {
    animation: spin 1s linear infinite;
    color: var(--color-accent-blue);
    font-size: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ----------------------Popup Style */
#popup-contact-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.popup-content-contact-form {
    width: 90%;
    max-width: 500px;
    height: fit-content;
    padding: 20px 30px;
    background-color: var(--color-white);
    border-radius: 10px;
    text-align: center;
    border: var(--border-thin);
    box-shadow: 0px 0px 10px -2px;
}

.popup-content-contact-form span i {
    font-size: 50px;
    font-weight: 900;
    border: var(--border-thin);
    padding: 10px 30px;
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-full);
    color: var(--color-accent-green);
    margin-bottom: 40px;
}

.popup-content-contact-form p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--color-bg-secondary) !important;
    font-weight: 500 !important;
}

#ok-button-contact-form {
    background-color: var(--color-accent-green);
    color: var(--color-white);
    border: none;
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

#ok-button-contact-form:hover {
    background-color: var(--color-accent-green-dark);
    box-shadow: var(--shadow-lg);
}