@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-size: 1rem;
    /* off */
    /* border: solid 1px; */
}

::-webkit-scrollbar{
    display: none;
}

:-webkit-any(a){
    text-decoration: none;
    cursor: pointer;
}

:-webkit-any(li){
    list-style: none;
}

:-webkit-any(button){
    border: none;
    outline: none;
    background-color: var(--Button);
}
:-webkit-any(button):hover{
    background-color: var(--BtnBg);
}

:-webkit-any(img) {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

:root{
    --green: #04aa6d;
    --red: #ef134d;
    --yellow: #ead409;
    --skyblue: #00b0f0;
    
    /* New & Final */
    --Primary: rgba(0,0,20,1);
    --Secondary: rgba(0,0,10,1);
    --MainText: #001e53;
    --black: #000;
    --White: #fff;
    --PText: #707377;
    --DarkGray: #393939;
    --GrayBg: #bbbcbc;
    --FluiedBg: #e8e8fa;
    --Button: #0064fb;
    --BtnBg: #0046af;
}
.AppContainer {
    width: 100vw;
    max-width: 1500px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: auto;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p, a, b, strong, span, button, input, label, select, option, textarea, li, h1, h2, h3, h4, h5, h6{
    font-size: 1rem;
    font-weight: 400;
    color: var(--Primary);
}

h1, h2, h3, h4, h5, h6{
    font-size: unset;
    font-weight: 600;
}

b, strong{
    font-weight: 600;
}

i{
    font-size: 25px;
}

#popup-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #00000090;
}
#popup-wrapper{
    width: 90vw;
    max-width: 400px;
    background-color: var(--White);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: #00000080 0px 0px 20px 0px;
}
#pop-header{
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    text-align: left;
}
.pop-text-box{
    padding: 10px 0;
    min-height: 150px;
    width: 100%;
}

#pop-text{
    font-size: 1rem;
    color: var(--Secondary);
}
.pop-close-box{
    width: 100%;
    text-align: center;
}

#close-popup{
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--Button);
    color: var(--White);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #00000030 0px 0px 5px 0px;
}

#close-popup:hover{
    background-color: var(--BtnBg);
}


/* Web App Pop */
.app-pop{
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    z-index: 99999999990;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#app-popup-wrapper{
    width: 95vw;
    max-width: 500px;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: #00000080 0px 0px 10px 0px;
    margin: 50px auto;
}

#app-pop-header{
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 10px;
}

#app-pop-text{
    padding: 0px 20px;
    font-weight: 1rem;
    padding-bottom: 20px;
}

.app-pop-close-box{
    width: 100%;
    padding-bottom: 20px;
}

.app-pop-close-box button{
    box-shadow: #00000030 0px 0px 5px 0px;
    width: fit-content;
    margin: auto;
}