@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* off */

    /* border: solid 1px; */
}

html {
    font-size: 17px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

:-webkit-any(a) {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s linear;
}
:-webkit-any(a):hover{
    background-color: var(--text-black);
    color: var(--white);
}
.BtnLink::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0 ;
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--modern-secondary-bg-color);
    transition: width 0.3s ease;
}
.BtnLink:hover::before{

    width: 100%;
}
:-webkit-any(label) {
    display: inline-block;
}

:-webkit-any(button) {
    border: none;
    outline: none;
}
:-webkit-any(img){
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}
:root {
    --primary: #002060;
    --secondary: #0288D1;
    --text-blue: #000c47;
    --text-cyan: #183153;
    --text-black: #000328;
    --bgblack: #000622;
    --white: #ffffff;
    --text-gray: rgb(110, 109, 122);

    --gray: #e7eaf0;
    --darkgray: #a4a4a4;
    --lightbg: rgb(226, 242, 255);
    --darkwhite: #f8f8fc;
    --lightViolet: #d5d6ff;
    --green: #04aa6d;
    --skyblue: #00b0f0;
    --red: #e65593;
    --yellow: #ead409;


    /* Palette 2: Modern Blues */
    --modern-primary-text-color: #007bff;
    --modern-secondary-text-color: #03A9F4;
    --modern-aside-text-color: #04ACEE;
    --modern-primary-bg-color: #01579B;
    --modern-secondary-bg-color: #0288D1;
}

.acme-font {
    font-family: "Acme", serif;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-semi-bold {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: "Poppins", serif;
    color: var(--text-black);
    width: 100vw;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px;
    overflow: scroll;
    overflow-x: hidden;
}
section {
    width: 100%;
    height: fit-content;
    padding: 5px;
}

.heading::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--modern-secondary-bg-color);
    transition: width 0.3s ease;
}
/* ----Flex Box CSS------- */
.ful-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}
.align-content-start {
    align-content: flex-start;
}
.align-content-center {
    align-content: center;
}
.align-content-end {
    align-content: flex-end;
}
.align-content-between {
    align-content: space-between;
}
.align-content-around {
    align-content: space-around;
}
.align-content-stretch {
    align-content: stretch;
}
.gap-5px{
    gap: 5px;
}
.gap-10px{
    gap: 10px;
}
.gap-15px{
    gap: 15px;
}
.gap-30px{
    gap: 30px;
}
/* ----Grid CSS------- */

.grid {
    display: grid;
}
.grid-col-1{
    grid-area: col-1;
}
.grid-col-2{
    grid-area: col-2;
}
.grid-col-3{
    grid-area: col-3;
}
.grid-col-4{
    grid-area: col-4;
}
.grid-col-5{
    grid-area: col-5;
}
.grid-col-6{
    grid-area: col-6;
}
.grid-col-7{
    grid-area: col-7;
}
.grid-col-8{
    grid-area: col-8;
}
.grid-col-9{
    grid-area: col-9;
}
.grid-col-10{
    grid-area: col-10;
}
.grid-row-1{
    grid-area: row-1;
}
.grid-row-2{
    grid-area: row-2;
}
.grid-row-3{
    grid-area: row-3;
}
.grid-row-4{
    grid-area: row-4;
}
.grid-row-5{
    grid-area: row-5;
}
.grid-row-6{
    grid-area: row-6;
}
.grid-row-7{
    grid-area: row-7;
}
.grid-row-8{
    grid-area: row-8;
}
.grid-row-9{
    grid-area: row-9;
}
.grid-row-10{
    grid-area: row-10;
}


/* ---Button a CSS----- */
.BtnLink {
    gap: 5px;
    flex-wrap: nowrap;
    font-size: 1rem;
    color: var(--text-blue);
    font-weight: 400;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.BtnLink span {
    text-wrap: nowrap;
}
.BtnLink:hover {
    background-color: white;
    color: var(--secondary) ;
}

/* ------ Button CSS------ */
button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary);
    transition: background-color 0.5s;
}
button:hover {
    background-color: var(--secondary);
}

/* ------ Input CSS------ */
input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-blue);
    background-color: var(--lightbg);
    border: solid 1px var(--text-cyan);
    transition: background-color 0.5s;
}
input:hover {
    background-color: var(--white);
}

/* ------ Text CSS------ */
h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
}
h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
}
h5 {
    font-size: 1.2rem;
    font-weight: 600;
}
h6 {
    font-size: 1rem;
    font-weight: 600;
}
p {
    font-size: 1rem;
    font-weight: 400;
}

/* ------ Text Align CSS------ */

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    text-wrap: nowrap;
}
.text-wrap {
    text-wrap: wrap;
}
.text-break {
    text-wrap: break-word;
}
.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
/* ---- Text------ */

.text-primary {
    color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.text-dark {
    color: var(--text-black);
}
.text-light {
    color: var(--text-gray);
}
.text-white {
    color: var(--white);
}
.text-muted {
    color: var(--text-gray);
}
.text-success {
    color: var(--green);
}
.text-cyan{
    color: var(--text-cyan);
}
.text-blue{
    color: var(--text-blue);
}
.text-red{
    color: rgb(241, 55, 55);
}

/* ---- Font Size------ */
.fs-1{
    font-size: 1rem;
}
.fs-12{
    font-size: 1.2rem;
}
.fs-13{
    font-size: 1.3rem;
}
.fs-14{
    font-size: 1.4rem;
}
.fs-15{
    font-size: 1.5rem;
}
.fs-16{
    font-size: 1.6rem;
}
.fs-17{
    font-size: 1.7rem;
}
.fs-18{
    font-size: 1.8rem;
}
.fs-20{
    font-size: 2rem;
}
.fs-21{
    font-size: 2.1rem;
}
.fs-22{
    font-size: 2.2rem;
}
.fs-24{
    font-size: 2.4rem;
}
.fs-25{
    font-size: 2.5rem;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}

/* ---- Positions------ */
.po-absolute {
    position: absolute;
}
.po-fixed {
    position: fixed;
}
.po-relative {
    position: relative;
}
.po-static {
    position: static;
}
.po-sticky {
    position: sticky;
}
.top0 {
    top: 0;
}
.top50 {
    top: 50%;
}
.bottom0 {
    bottom: 0;
}
.left0 {
    left: 0;
}
.left5 {
    left: 5%;
}
.right5 {
    right: 5%;
}
.right0 {
    right: 0;
}
/* ---- Overflow------ */
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-visible {
    overflow: visible;
}
.overflow-scroll {
    overflow: scroll;
}

/* ---- Display------ */
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.d-none {
    display: none;
}
.d-table {
    display: table;
}
.d-table-row {
    display: table-row;
}
.d-table-col {
    display: table-column;
}
.d-table-cell {
    display: table-cell;
}

/* ---- Visibility------ */
.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}

/* ---- Width------ */
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-20 {
    width: 20%;
}
.w-75 {
    width: 75%;
}
.w-auto {
    width: auto;
}
.w-fit-content {
    width: fit-content;
}
.w-100vw {
    width: 100vw;
}

/* ---- Height------ */
.h-100 {
    height: 100%;
}
.h-50 {
    height: 50%;
}
.h-25 {
    height: 25%;
}
.h-75 {
    height: 75%;
}
.h-auto {
    height: auto;
}
.h-fit-content {
    height: fit-content;
}
.h-100vh {
    height: 100vh;
}

/* ---- Shadow------ */
.shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.shadow-sm {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.shadow-lg {
    box-shadow: 0 5px 15px -4px;
}
.shadow-none {
    box-shadow: none;
}


/* ---- Background------ */
.bg-primary {
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-dark {
    background-color: rgb(0, 1, 15);
}
.bg-light {
    background-color: var(--lightbg);
}
.bg-white {
    background-color: var(--white);
}
.bg-muted {
    background-color: var(--text-gray);
}
.bg-success {
    background-color: var(--green);
}
.bg-velvet {
    background-color: var(--lightViolet);
}


/* ---- Hover------ */
.hover-primary {
    color: var(--primary);
}
.hover-secondary {
    color: var(--secondary);
}
.hover-dark {
    color: var(--text-black);
}
.hover-light {
    color: var(--text-gray);
}
.hover-white {
    color: var(--white);
}
.hover-muted {
    color: var(--text-gray);
}
.hover-success {
    color: var(--green);
}

/* ---- Hover Background------ */
.hover-bg-primary {
    background-color: var(--primary);
}
.hover-bg-secondary {
    background-color: var(--secondary);
}
.hover-bg-dark {
    background-color: var(--text-black);
}
.hover-bg-light {
    background-color: var(--text-gray);
}
.hover-bg-white {
    background-color: var(--white) !important;
}
.hover-bg-muted {
    background-color: var(--text-gray);
}
.hover-bg-success {
    background-color: var(--green);
}

/* ---- Border------ */
.border1 {
    border: solid 1px var(--text-cyan);
}
.border2 {
    border: solid 2px var(--text-cyan);
}
.border-0 {
    border: none;
}
.border-top {
    border-top: solid 1px var(--text-cyan);
}
.border-bottom {
    border-bottom: solid 1px var(--text-cyan);
}
.border-left {
    border-left: solid 1px var(--text-cyan);
}
.border-right {
    border-right: solid 1px var(--text-cyan);
}
.border-primary {
    border: solid 1px var(--primary);
}
.border-secondary {
    border: solid 1px var(--secondary);
}
.border-dark {
    border: solid 1px var(--text-black);
}
.border-light {
    border: solid 1px var(--text-gray);
}
.border-white {
    border: solid 1px var(--white);
}

/* ---- Radius------ */
.rounded {
    border-radius: 10px;
}
.rounded-20px{
    border-radius: 20px;
}
.rounded-0 {
    border-radius: 0;
}
.rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rounded-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rounded-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rounded-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ---- Hover Border------ */
.hover-border-primary {
    border: solid 1px var(--primary);
}
.hover-border-secondary {
    border: solid 1px var(--secondary);
}
.hover-border-dark {
    border: solid 1px var(--text-black);
}
.hover-border-light {
    border: solid 1px var(--text-gray);
}
.hover-border-white {
    border: solid 1px var(--white);
}
.hover-border-muted {
    border: solid 1px var(--text-gray);
}
.hover-border-success {
    border: solid 1px var(--green);
}

/* ---- Hover Shadow------ */
.hover-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.hover-shadow-sm {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.hover-shadow-lg {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.hover-shadow-none {
    box-shadow: none;
}

/* ---- Transition------ */
.transition {
    transition: all 0.5s;
}
.transition-fast {
    transition: all 0.3s;
}
.transition-slow {
    transition: all 1s;
}


/* ---- Z-Index------ */
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2000;
}


/*  margin */
.m-auto {
    margin: auto;
}
.m-0 {
    margin: 0;
}
.m-1 {
    margin: 0.25rem;
}
.m-2 {
    margin: 0.5rem;
}
.m-3 {
    margin: 0.75rem;
}
.m-4 {
    margin: 1rem;
}

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mt-5 {
    margin-top: 1.5rem;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.mb-4 {
    margin-bottom: 1rem;
}

.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 0.25rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.ml-3 {
    margin-left: 0.75rem;
}
.ml-4 {
    margin-left: 1rem;
}

.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 0.25rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mr-3 {
    margin-right: 0.75rem;
}
.mr-4 {
    margin-right: 1rem;
}

/*  padding */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 0.25rem;
}
.p-2 {
    padding: 0.5rem;
}
.p-3 {
    padding: 0.75rem;
}
.p-4 {
    padding: 1rem;
}

.pt-0 {
    padding-top: 0;
}
.pt-1 {
    padding-top: 0.25rem;
}
.pt-2 {
    padding-top: 0.5rem;
}
.pt-3 {
    padding-top: 0.75rem;
}
.pt-4 {
    padding-top: 1rem;
}
.pt-2rem {
    padding-top: 2rem;
}

.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: 0.25rem;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pb-3 {
    padding-bottom: 0.75rem;
}
.pb-4 {
    padding-bottom: 1rem;
}
.pb-2rem {
    padding-bottom: 2rem;
}

.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: 0.25rem;
}
.pl-2 {
    padding-left: 0.5rem;
}
.pl-3 {
    padding-left: 0.75rem;
}
.pl-4 {
    padding-left: 1rem;
}

.pr-0 {
    padding-right: 0;
}
.pr-1 {
    padding-right: 0.25rem;
}
.pr-2 {
    padding-right: 0.5rem;
}
.pr-3 {
    padding-right: 0.75rem;
}
.pr-4 {
    padding-right: 1rem;
}


/*  curosr */
.cursor-pointer{
    cursor: pointer;
}