@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    /* off */
    /* border: solid 1px; */
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

:-webkit-any(a) {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

:-webkit-any(li) {
    list-style: none;
}

:-webkit-any(button) {
    border: none;
    outline: none;
}

:-webkit-any(img) {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.acme-font {
    font-family: "Acme", serif;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary: #002060;
    --secondary: #00abf0;
    --dark-blue: #000c47;
    --cyan: #183153;
    --black: #00051c;
    --light-black-bg: #000918;
    --text-black-light: #2b2b2b;
    --white: #ffffff;
    --text-gray: rgb(110, 109, 122);

    --gray: #e7eaf0;
    --darkgray: #a4a4a4;
    --lightbg: rgb(226, 242, 255);
    --green: #04aa6d;
    --skyblue: #00b0f0;
    --red: #ef134d;
    --yellow: #ead409;


    /* Palette 2: Modern Blues */
    --primary-text-color: #007bff;
    --secondary-text-color: #03A9F4;
    --aside-text-color: #04ACEE;
    --primary-bg-color: #01579B;
    --secondary-bg-color: #0288D1;
}

body {
    width: 100vw;
    font-weight: 400;
    color: var(--black);
    overflow: hidden;
    background-color: var(--black);
}

.container {
    width: 100vw;
    max-width: 1500px;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    margin: 0 auto;
}
.section {
    width: 100%;
    height: calc(100vh - 40px);
    min-height: fit-content;
    
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    overflow: scroll;
    padding: 2rem 5px;
    padding-bottom: 3rem;
}


/* Header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    line-height: 1;
}

.logo a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ededed;
    transition: all 0.3s;
}

.logo a:hover {
    text-decoration: underline;
    color: var(--secondary);
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav li:nth-child(5) {
    padding: 0rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white);
}

.nav li a {
    display: block;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
    text-wrap: nowrap;
    padding: 0rem 0.5rem;
    position: relative;
    transition: all 0.3s;
}

.nav li a.active {
    color: var(--secondary);
}

.nav li a:hover {
    color: var(--secondary);
}

.menu {
    position: relative;
}

.sub-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    background-color: #00051ce8;
    backdrop-filter: blur(15px);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 5px 8px -8px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.sub-menu li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 1rem !important;
    width: 170px;
}

.sub-menu.visible {
    height: 200px;
}


/* Hero Section */
.hero-content {
    width: 80vw;
    max-width: 600px;
    min-width: 340px;
}

.name h1 {
    width: 100%;
    color: var(--white);
    font-family: "Acme", sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    user-select: none;
    line-height: 1;
}

.name h5{
    color: var(--secondary);
    font-size: 1.3rem;
    line-height: 1.5;
    width: fit-content;
    position: relative;
}
.name h5::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 1px;
    background-color: var(--white);
    border-radius: 10px;
}
.headline p {
    width: 100%;
    color: var(--lightbg);
    font-size: 1.1rem;
    margin: 1rem 0px;
    margin-bottom: 3rem;
    line-height: 1.4;
    user-select: none;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.social-links a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.social-links a:nth-child(1) {
    transition: background 0.3s;
    color: var(--secondary);
}

.social-links a:nth-child(1):hover {
    color: var(--white);
    background-color: var(--secondary);
}

.social-links a:nth-child(2) {
    transition: background 0.3s;
    color: var(--red);
}

.social-links a:nth-child(2):hover {
    color: var(--white);
    background-color: var(--red);
}

.social-links a:nth-child(3) {
    transition: background 0.3s;
    color: var(--lightbg);
}

.social-links a:nth-child(3):hover {
    color: var(--black);
    background-color: var(--white);
}

.hero-btn {
    height: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.hero-btn a {
    background-color: var(--secondary);
    color: var(--black);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border: solid 2px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.hero-btn a:hover {
    color: var(--secondary);
}

.hero-btn a:nth-child(2) {
    background-color: transparent;
    color: var(--lightbg);
    font-weight: 400;
}

.hero-btn a:nth-child(2)::before {
    background-color: var(--secondary);
}
.hero-btn a:nth-child(2):hover {
    color: var(--black);
    font-weight: 600;
}

.hero-btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--black);
    z-index: -1;
    transition: 0.5s;
}

.hero-btn a:hover::before {
    width: 100%;
}

.hero-photo {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-photo img {
    width: 32vw;
    min-width: 340px;
    border-radius: 20px;
    background: linear-gradient(45deg, var(--secondary), white);
}

/* About section */

#about {
    width: 100%;
}
.about-section{
    background-color: var(--lightbg);
}

.about-img img{
    width: 350px;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: white;
    box-shadow: 0px 4px 10px -4px;
}

.about-text{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    padding: 0.5rem;
    border-radius: 10px;
}

.content-heading{
    width: fit-content;
    color: var(--primary);
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 1rem;
}
.content-heading::before{
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: var(--secondary);
    border-radius: 10px;
}
.about-text p, li, b{
    color: var(--black);
    line-height: 1.4;
    font-size: 1.1rem;
}

.about-text li{
    list-style: inside disc;
}


/* -- Experience--- */
.experience-section{
    gap: 0;
    display: table;
    background-color: var(--light-black-bg);
}

.exp-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.exp-row1 .content-heading{
    text-align: center;
    width: 100%;
    color: white;
}
.exp-row1 .content-heading::before{
    display: none;
}
.exp-row1 .content-heading span{
    color: var(--secondary);
}
.exp-control-box{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 0.25rem 1.5rem;
}
.exp-control-box button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    cursor: pointer;
    background-color: var(--lightbg);
    color: var(--black);
    font-size: 1.1rem;
    border-radius: 3px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 8px;
}
.exp-control-box button:hover{
    background-color: var(--black);
    color: var(--secondary);
}
.exp-slide-counter {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-right: 15px; 
}
.exp-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}

.exp-detail-box, .exp-image-box{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
}

.exp-detail-slides,.exp-image-slides{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
}
.exp-detail-slides{
    padding: 0.5rem;
}
.exp-count{
    font-family: "Acme";
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
    color: var(--text-gray);
}
.exp-head{
    font-size: 1.5rem;
    color: white;
}

.exp-about p{
    font-size: 1.1rem;
    color: var(--lightbg);
    line-height: 1.4;
    font-weight: 300;
}

.exp-skills p{
    color: var(--secondary);
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--darkgray);
    font-weight: 400;
}
.exp-button a{
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.6rem 1rem;
    margin-top: 10px;
    transition:background 0.3s;
    border-radius: 10px;
}
.exp-button a i{
    font-size: 0.9rem;
}
.exp-button a:hover{
    background-color: var(--lightbg);
    color: var(--black);
}

.exp-image-slides img{
    width: 100%;
    min-width: 330px;
    border-radius: 8px;
}