/* -- Experience--- */
.experience-section{
    gap: 0;
    display: table;
    background-color: var(--light-black-bg);
}

.exp-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}
.exp-row1 .content-heading{
    text-align: center;
    width: 100%;
    color: white;
}
.exp-row1 .content-heading::before{
    display: none;
}
.exp-row1 .content-heading span{
    color: var(--secondary);
}
.exp-control-box{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 0.25rem 1.5rem;
}
.exp-control-box button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    cursor: pointer;
    background-color: var(--lightbg);
    color: var(--black);
    font-size: 1.1rem;
    border-radius: 3px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 8px;
}
.exp-control-box button:hover{
    background-color: var(--black);
    color: var(--secondary);
}
.exp-slide-counter {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-right: 15px; 
}
.exp-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}

.exp-detail-box, .exp-image-box{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
}

.exp-detail-slides,.exp-image-slides{
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
}
.exp-detail-slides{
    padding: 0.5rem;
}
.exp-count{
    font-family: "Acme";
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
    color: var(--text-gray);
}
.exp-head{
    font-size: 1.5rem;
    color: white;
}

.exp-about p{
    font-size: 1.1rem;
    color: var(--lightbg);
    line-height: 1.4;
    font-weight: 300;
}
.exp-skills p{
    color: var(--secondary);
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--darkgray);
    font-weight: 400;
}
.exp-button a{
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    padding: 0.6rem 1rem;
    margin-top: 10px;
    transition:background 0.3s;
    border-radius: 10px;
}
.exp-button a i{
    font-size: 0.9rem;
}
.exp-button a:hover{
    background-color: var(--lightbg);
    color: var(--black);
}

.exp-image-slides img{
    width: 100%;
    min-width: 330px;
    border-radius: 8px;
}