.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px;
    background-color: #e2ebff;
}

.wrapper {
    width: 50vw;
    min-width: 360px;
    height: 100vh;
    min-height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-wrapper {
    flex-direction: column;
    border-start-end-radius: 30%;
    background-color: var(--black);
}

.heading-box {
    padding: 30px 0;
}

.content-heading {
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 700;
    font-family: "Acme";
    user-select: none;
}

.content-heading::before {
    display: none;
}

.content-heading span {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Acme";
    background-color: var(--secondary);
    padding: 0 10px;
    border-radius: 8px;
    white-space: nowrap;
}

.heading-box p{
    font-size: 1rem;
    padding: 0px 10px;
    width: 40vw;
    min-width: 340px;
    color: var(--white);
    text-align: justify;
    text-indent: 30px;
}
.heading-box a{
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    color: var(--secondary);
}
.heading-box a i{
    padding-left: 5px;
}
.social-links{
    padding: 20px 0px;
}



.hero-photo img {
    width: 150px !important;
    min-width: 150px !important;
    border-radius: 50% !important;
}

.form-wrapper form {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    border-radius: 8px;
    border: var(--darkgray) solid 1px;
    background-color: #ffffff;
}

input,
textarea,
select {
    width: 100%;
    color: var(--black);
    font-size: 1rem;
    padding: 13px 22px;
    background-color: var(--white);
    display: block;
    outline: none;
    border: 1px solid #dde3ec;
    border-radius: 5px;
}

.form select {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

textarea {
    resize: vertical;
    min-height: 150px;
    max-height: 200px;
}

input::placeholder,
textarea::placeholder,
select:invalid {
    color: #536387;
}

form input:focus,
select:focus,
textarea:focus {
    border-color: var(--secondary);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

button {
    display: block;
    width: 100%;
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "poppins";
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    color: var(--white);
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: var(--primary-bg-color);
}


/* ---------------Responsive Design */
@media (max-width: 850px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .wrapper {
        width: 100vw;
        justify-content: center;
        align-items: flex-start;
    }

    .heading-wrapper {
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        border-radius: 0;
    }
    .form-wrapper{
        padding: 30px 0px;
    }
}


/* ----------------------Spinner Style */
#spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -2px;
}

.spinner i {
    animation: spin 2s linear infinite;
    color: var(--green);
    font-size: 1.6rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ----------------------Popup Style */
#popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 998;
}

.popup-content {
    width: 330px;
    height: fit-content;
    padding: 20px 30px;
    background-color: var(--lightbg);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px -2px;
}

.popup-content span i {
    font-size: 3rem;
    color: var(--green);
}

.popup-content p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
}

#ok-button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

#ok-button:hover {
    background-color: #2980b9;
}