:root{
    --green: #04aa6d;
    --skyblue: #00b0f0;
    --red: #ef134d;
    --yellow: #ead409;

    /* New & Final */
    --Primary: #000;
    --Secondary: #1c1c1c;
    --White: #fff;
    --PText: #707377;
    --DarkGray: #393939;
    --GrayBg: #bbbcbc;
    --FluiedBg: #e8eae9;
    --BtnBg: #0076a8;
}

.footer {
    width: 100vw;
    height: fit-content;
    background-color: var(--Secondary);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
}
.row1footer{
    width: 100%;
}
.footer-logo{
    display: block;
    padding: 10px 20px;
    width: fit-content;
}
.footer-logo a{
    display: block;
}
.footer-logo a img{
    width: 150px;
    cursor: pointer;
}

.about-website{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.about-website img{
    width: 100px;
    border-radius: 100%;
}
.about-website .textbox{
    width: 85%;
    min-width: 330px;
    height: fit-content;
}
.about-website p{
    font-size: 0.9rem;
    color: var(--White);
    font-weight: 300;
    text-align: justify;
}

.row2footer{
    width: 100%;
}
.row2footer .social-links{
    background-color: var(--Secondary);
    padding: 10px 20px;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
}
.row2footer .social-links a{
    background-color: var(--White);
    border-radius: 5px;
}
.row3footer{
    background-color: var(--Primary);
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
}
.row3footer p{
    width: fit-content;
    font-size: 0.9rem;
    color: var(--GrayBg);
    font-weight: 400;
    text-align: center;
    user-select: none;
}