.footer {
    width: 100vw;
    height: fit-content;
    background-color: var(--Secondary);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
}
.row1footer{
    width: 50%;
}
.footer-logo{
    display: block;
    padding: 10px 20px;
    width: fit-content;
}
.footer-logo a img{
    width: 150px;
    cursor: pointer;
}

.about-website{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.about-website img{
    width: 100px;
    border-radius: 100%;
}
.imgbox{
    width: 100%;
}
.about-website .textbox{
    width: 100%;
    min-width: 330px;
    height: fit-content;
}
.about-website p{
    font-size: 1rem;
    color: var(--FluiedBg);
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}

.row2footer{
    width: 50%;
    border-left: solid 1px var(--DarkGray);
}
.row2footer .social-links{
    padding: 10px 20px;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
}
.row2footer .social-links a{
    background-color: var(--White);
}

.subscribebox form{
    padding: 20px 30px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribebox label{
    display: block;
    color: var(--FluiedBg);
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 20px !important;
    cursor: pointer;
}
.subscribebox input{
    display: block;
    width: 50%;
    color: var(--Primary);
    font-size: 1rem;
    border-radius: 10px 0px 0px 10px;
    margin: 10px 0;
}
.subscribebox input[type=submit]{
    color: var(--White);
    font-weight: 500;
    background-color: var(--Button);
    margin: 10px 0;
    cursor: pointer;
    padding: 13px 20px;
    border-radius: 0px 10px 10px 0px;
    width: fit-content;
}
.subscribebox input[type=submit]:hover{
    background-color: var(--BtnBg);
}
.row3footer{
    border-top: solid 1px var(--DarkGray);
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
}
.row3footer p{
    width: fit-content;
    font-size: 0.9rem;
    color: var(--GrayBg);
    font-weight: 400;
    text-align: center;
    user-select: none;
}