#header {
    width: 95%;
    height: 70px;
    margin: auto;
    padding: 10px 20px;
    border: var(--border-thin);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-soft);
    position: sticky;
    top: 20px;
    background-color: var(--color-surface-light);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;
}
#beforeheader{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 999;
    backdrop-filter: blur(15px);
}
.logo{
    max-height: 50px;
}
.logo a img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Navigation Bar */
#menubox{
    width: 100%;
}
#menubox ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
}
#menubox ul li a {
    font-size: var(--font-md);
    color: var(--color-bg-primary);
    position: relative;
    font-weight: 500;
}

#menubox ul li a::before{
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: var(--color-accent-blue-dark);
    transition: all 0.3s;
}
#menubox ul li a:hover::before{
    width: 100%;
    box-shadow: var(--shadow-sm);
}

.right-header ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-header ul li:first-child a i{
    font-size: var(--font-2xl);
    color: var(--color-bg-primary);    
}
.right-header ul li:last-child a i{
    font-size: var(--font-2xl);
    color: var(--color-accent-green);    
}


#menu-icon {
    display: none;
    padding: 5px 10px;
    border: var(--border-thin);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-light);
    box-shadow: var(--shadow-sm);
}
#menu-icon i{
    font-size: var(--font-xl);
    color: var(--color-text-muted);
}


/* RESPONSIVE STYLE HERE */