#header {
    height: 80px;
    min-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--Primary);
}

#menu-icon {
    display: none;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    border: solid 1px var(--GrayBg);
}
.logo a{
    display: flex;
    align-items: center;
    border-right: solid 1px var(--GrayBg);
    padding: 5px 0;
    padding-right: 15px;
}

.logo img {
    width: 110px;
}


/* Navigation Bar */
#menubox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menubox ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 0px 20px;
}
#menubox ul li{
    line-height: 1;
}
#menubox ul li a {
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--White);
    position: relative;
}

#menubox ul li a::before{
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -3px;
    border-radius: 5px 5px 0 0;
    background-color: var(--White);
    transition: all 0.3s;
}
#menubox ul li a:hover::before{
    width: 100%;
}

.right-header ul {
    width: fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
}

.right-header ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: solid 1px var(--GrayBg);
    padding: 5px 20px;
    
}
.right-header ul li a{
    color: var(--White);
}
.right-header ul li:last-child a{
    border-right: none;
    padding-right: 0;
    font-weight: 700;
}
.right-header ul li:last-child a i{
    font-size: 28px;
    font-weight: 500;
}