/* ------Phone & Laptop Portrait Mode------- */
@media screen and (max-width: 765px) {
    html {
        font-size: 14px;
    }
    .hero-container{
        height: fit-content;
        padding: 35px 0;
    }
}