@media screen and (max-width: 650px) {
    html{
        font-size: 14px;
    }
    #menu-icon {
        display: flex;
    }
    #menubox {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background-color: var(--color-bg-primary);
        box-shadow: var(--shadow-soft);
        transition: height 0.5s ease;
        z-index: 999;
        align-items: flex-start;
        border-radius: var(--radius-xl);
    }
    #menubox.show-menubox{
        height: calc(100vh - 110px);
    }
    #menubox ul {
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 50px 20px;
    }
    #menubox ul li{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: var(--border-thin);
    }
    #menubox ul li a {
        font-size: var(--font-lg);
        color: var(--color-white);
        /* border: solid; */
        width: 100%;
    }
    #menubox ul li::after{
        content: ">";
        font-size: 1.5rem;
        color: var(--color-white);
        margin-left: 20px;
    }
    .right-header{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .about-wrapper, .whybox-wrapper,.reviewslider{
        flex-wrap: wrap;
    }

    .media-box iframe{
        width: 300px;
        height: 169px;
    }
    .media-title{
        width: 300px;
    }    
}