@media screen and (max-width: 425px) {
    html{
        font-size: 14px;
    }
    #header {
        padding: 20px 10px;
        position: sticky;
    }
    #menu-icon {
        display: flex;
    }
    #menu-icon i{
        color: var(--White);
    }
    .logo a{
        padding-left: 15px;
        border-left: solid 2px var(--GrayBg);
        border-right: none;
    }
    .logo img {
        height: 25px;
    }
    #menubox {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background-color: var(--Primary);
        box-shadow: 0px 5px 16px #00000080;
        transition: height 0.5s ease;
        z-index: 99999999999;
    }
    #menubox.show-menubox{
        height: calc(45px * 6 + 20px);
    }
    #menubox ul {
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 10px 20px;
    }
    #menubox ul li{
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #menubox ul li a {
        font-size: 1.2rem;
    }
    #menubox ul li::after{
        content: ">";
        font-size: 1.5rem;
        color: var(--White);
    }
    .right-header{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .profile-container {
        height: fit-content;
    }

    .detail-box {
        top: 0px;
    }

    .media-box iframe{
        width: 300px;
        height: 169px;
    }
    .media-title{
        width: 300px;
    }
    .contact-form{
        border-radius: 20px 20px 0px 0px;
    }

    #contactForm{
        width: 95vw;

    }
    .footer{
        flex-direction: column;
    }

    .row1footer{
        width: 100%;
    }
    .about-website .imgbox{
        width: 100%;
    }
    .row2footer{
        width: 100%;
        border-left: unset;
        border-top: solid 1px var(--DarkGray);
    }

    .subscribebox form{
        align-items: flex-start;
    }
    .subscribebox label{
        width: 100%;
    }
    .subscribebox input{
        width: 80%;
    }
}