.library-heading {
    background-image: url(https://media.gettyimages.com/id/2136059174/photo/between-shadow-and-light-a-row-of-anonymous-books-on-a-table-in-paris-france-background-a.jpg?s=612x612&w=0&k=20&c=h4P5iIf8dcE2om30ROKFBgMCNeIhNwSJsV40XE1LL00=);
    height: 250px;
    min-height: fit-content;
    padding: 30px 10px;
    border-radius: var(--radius-lg);
    background: cover no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.library-heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: var(--radius-lg);
}

.library-heading .heading-header {
    color: var(--color-white);
    position: relative;
    z-index: 2;
}

.library-heading .section-tagline,
.section-tagline span {
    color: var(--color-white);
    position: relative;
    z-index: 2;
}