/* ------Image Slider Starts Here---------- */
.imageslider {
    margin-top: 1.5rem;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}


.slider {
    border-radius: 10px;
    width: 98vw;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px;
}

.slides {
    width: 98vw;
    display: flex;
    justify-content: flex-start;
    background-color: var(--bgblack);
    transition: transform 1s ease-in-out;
}

.slides img {
    border-radius: 10px;
    min-width: 98vw;
}

/* ------Image Slider Ends Here---------- */


/* ------Important Links Start Here---------- */
.important_links {
    width: 98vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 2rem auto;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0;
}


.important_links a {
    text-decoration: none;
    color: var(--white);
    padding: 0.65rem 1rem;
    border-radius: 8px;
    background-color: var(--primary);
    font-size: 1rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.2);
    transition: background 0.3s ease;
    margin: 0.25rem;
}

.important_links a:hover {
    background-color: var(--secondary);
}

/* ------Important Links Ends Here---------- */

/* ------Topline Starts Here---------- */
.topline {
    width: 98vw;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid red; */
}

.heading {
    display: block;
    width: 100%;
    /* border: solid red; */
}

h2 {
    width: fit-content;
    color: var(--primary);
    font-family: "Acme", sans-serif;
    font-size: 3rem;
    margin-left: 1rem;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--secondary);
}

.buttonholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonwrapper {
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 15px;
    border: solid 2px var(--primary);
}
.buttonwrapper input{
    display: none;
}
.buttonwrapper label {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--white);
    border-radius: 10px;
    padding: 0.65rem 1.5rem;
    cursor: pointer;
    transition: background ease-in-out 0.5s;
}

.buttonwrapper #books:checked~.labelbook {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
}

.buttonwrapper #class:checked~.labelclass {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.1);
}

/* ------Topline Ends Here---------- */


/* ------Bottomline Starts Here---------- */
.rackholder {
    /* border: solid red; */
    width: 98vw;
    margin: 1.5rem auto;
    height: fit-content;
    overflow-x: scroll;
}

.rackholder::-webkit-scrollbar {
    display: none;
}

.bookrack,
.classrack {
    /* overflow: hidden; */
    padding: 0.8rem 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: display 0.4s ease;
}

/* ------Book box/card CSS Starts Here---------- */
.bookbox,
.classbox {
    width: fit-content;
    border-radius: 10px;
    padding: 8px;
    background-color: var(--white);
    margin: 0.25rem 1rem;
    box-shadow: 0px 3px 5px;
    transition: position 0.4s ease-in-out;
}

.bookbox:hover,
.classbox:hover {
    position: relative;
    box-shadow: 0px 2px 10px;
    top: -2px;
}

.bookbox .bookcard,
.bookimage,
.bookimage img {
    border-radius: 5px;
    width: 160px;
}

.classbox .classcard,
.classimage,
.classimage img {
    width: 160px;
}

.bookbox a,
.classbox a {
    text-decoration: none;
    color: var(--textblack);
}

.book_title,
.class_title {
    width: 160px;
}

.book_title p,
.class_title p {
    height: 60px;
    font-size: 1.1rem;
    line-height: 20px;
    color: var(--bgblack);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: left;
}

.pricebox {
    color: var(--primary);
    font-weight: 600;
    margin: 0.25rem auto;
    font-size: 1.3rem;
}

.pricebox span {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--darkgray);
}

.order_now_btn {
    display: block;
    text-align: center;
    color: var(--white) !important;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--primary);
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    transition: background 0.3s ease;
}

.order_now_btn:hover {
    background-color: var(--secondary);
}

/* ------Book box/card CSS Ends Here---------- */
/* ------Bottomline Ends Here---------- */

/* ------About section Starts Here---------- */
.introwrapper {
    width: 100vw;
    height: fit-content;
    margin-bottom: 2rem;
    user-select: none;
}

.name_tag_box,
.photo_about_box {
    width: 98vw;
    margin: auto;
    height: fit-content;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.name_box {
    margin-left: 1rem;
}

.tag_box {
    margin-right: 1rem;
}

.name_box,
.tag_box,
.photo_box,
.about_box {
    /* border: red solid; */
    display: block;
    width: 100%;
    height: fit-content;
}

.name_box p {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: var(--textblack);
    font-weight: 600;
    position: relative;
    width: fit-content;
}

.name_box p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--secondary);
}

.name_box h3 {
    font-family: "Acme", sans-serif;
    font-size: 3rem;
    color: var(--primary);
    font-weight: 600;
    line-height: 40px;
    display: block;
}

.tag_box h3 {
    padding-top: 30px;
    text-align: left;
    font-size: 1.5rem;
    color: var(--textblack);
    font-weight: 500;
}

.photo_box,
.about_box {
    padding: 15px 0;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_box img.intropic {
    width: 300px;
    background-color: #d5d6ff;
    border-radius: 15px;
    border: solid 8px white;
    box-shadow: 0px 3px 10px;
}

.imgholder {
    position: relative;

}

.imgholder .logopic {
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: 400;
    width: 180px;
    background-color: #d5d6ff;
    border-radius: 15px;
    border: solid 8px white;
    box-shadow: 0px 3px 10px;
}

.about_box ul {
    padding: 0 1rem;
    color: var(--bgblack);
}

.about_box ol {
    padding-left: 2.5rem;
    list-style: lower-latin;
}

.about_box li {
    font-size: 1.1rem;
    line-height: 38px;
    font-weight: 400;
}

/* ------About section Ends Here---------- */
/* ------Quote section StartsHere---------- */
.tagline_container {
    width: 100vw;
    height: fit-content;
}


.tagline_wrapper p {
    background-color: var(--lightbg);
    user-select: none;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 45px;
    padding: 3.5rem 1.5rem;
    width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 5px 15px;
    border: solid 1px var(--bgblack);
}

.tagline_wrapper p svg {
    fill: var(--textblack);
    width: 20px;
    margin: 0 0.2rem;
}

/* ------Quote section Ends Here---------- */